<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>THIS IS YOUR HOME</h1>



    <a href="/celebrities">Go to celebrities...</a>

  </body>
</html>
